.cell-container{
    /*display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, 15em);
    justify-content: space-around;
    grid-gap: 0.3em;
}
/*.item-container::after {
    content: "";
    flex: auto;
  }*/

.cell{
    margin: 0em;
    padding: 0.5em;
    border-radius: 5px;
    font-family: monospace;
    position: relative;
}
.cell img{
    display:block;
    width:100%;
    margin: 0 auto;
}
.last-cell{
    display: table;
    text-align: center;
}
.last-cell>span{
    vertical-align: middle;
    display: table-cell;
}
.cell .select{
    position: absolute;
    top: 1em; left: 1em;
    width: 2em; height: 2em;
    background-size:     cover;                  
    background-repeat:   no-repeat;
    background-position: center center;       
    background-color: white;
    border: 1px solid black;
    display: none;
    cursor: pointer;
}
.cell .select.checked{background-image: url(/public/check.svg);}

.select-mode .cell .select{display: block;}
.cell:hover .select{display: block;}