.App {
  text-align: center;
  color: #fff;
}

.App-logo {
  height: 2em;
  pointer-events: none;
}

.clk{
  background: #ffffff33;
}
.clk:hover{
  cursor:pointer;
  background: #ffff0055;
}
.btn{
  display: inline-block;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 0.5em 1em;
}
.bar{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.err{
  color:#ff0
}
.fog{
  position:absolute;
  top:0px;     left:0px;
  bottom: 0px; right:0px;
  background: #00000088;
  cursor: wait;
}
form{
  margin: 1em;
}
form input{
  margin-bottom: 1em;
  margin-left: 0.5em;
}



header {
  color: white;
  display: grid;
  grid-template-columns: 3em 1fr 1fr;
  align-items: center;
  padding: 0.2em;
}

header .title{
  text-align: left;
}
header .user{
}

.error{
  position:fixed;
  top:0; left:0; bottom:0; right:0;
  background: #000000cc;
}
.error .message{
  color: #ff0;
  text-align: center;
  position: absolute;
  left: 3em; right: 3em;
  top: 50%;
  transform: translateY(-50%);
}

aside {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.2em 0.5em;
}
aside>div{
  margin-right: 2em;
}
aside .ftp{
  padding: 0.2em 1em;
}

.dialog-fog{
  background: #00000088;
  position:fixed;
  top:0px;     left:0px;
  bottom: 0px; right:0px;
}
.dialog{  
  position: fixed;
  top:  40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #444;
  padding: 1em;
}
.dialog .title{  
  border-bottom: 1px solid white;
  padding-bottom: 0.5em;
}
.dialog .message{
  min-height: 3em;
}
.dialog .i{
  display:inline-block;
  width:5em;
}
.dialog .input-table{
  display: grid;
  grid-template-columns: 1fr 2fr;
}


