.row-header{
    display: grid;
    grid-template-columns: 1fr 6em 5em;
    border-bottom: 1px solid #888;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
}
.row-status{
    padding: 2em 1em;
    font-family: monospace;
    font-size: 150%;
}

.row {
    padding:0.5em;
    text-align: left;
    margin-bottom: 0.3em;
    border-radius: 10px;
}  
.dark  .row.selected {background-color: #055;}
.light .row.selected {background-color: #0ff;}

.row .main{
    display: grid;
    grid-template-columns: 1fr 6em 5em;
}
.row .name{
    font-size: 110%;
    font-weight: normal;
}
.dark  .row .name {color: aqua;}
.light .row .name {color: #008;}

.row .stat{
    font-weight: normal;
    text-align: right;
}

.row .details{
    position: relative;
}

.row .details  > div {
    font-style: italic;
    font-family: monospace;
}
.row .details  > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 2em;
}
.row .details  b {
    margin-left: 0.4em;
    font-style: normal;
}
.row .details .icon.edit {
    position:absolute;
    top:0.5em; right:0em;
    width:2em; height:2em;
}
.dark  .row .details .icon.edit {background-image: url(/public/edit-white.svg);}
.light .row .details .icon.edit {background-image: url(/public/edit-black.svg);}




