.cell-container{
    /*display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, 10em);
    justify-content: space-around;
    grid-gap: 0.3em;
}
/*.item-container::after {
    content: "";
    flex: auto;
  }*/

.cell{
    margin: 0em;
    padding: 0.5em;
    font-size: 80%;
    border-radius: 5px;
}
.cell img{
    display:block;
    width:100%;
    margin: 0 auto;
}
.last-cell{
    display: table;
    text-align: center;
}
.last-cell>span{
    vertical-align: middle;
    display: table-cell;
}