body, .App {
  margin: 0;
  padding: 0;
  position:fixed;
  top:0px;     left:0px;
  bottom: 0px; right:0px;
  background: #000000;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{  display:grid;}

header       {grid-area: header; }/*background: #282c34;*/
aside        {grid-area: aside;  }
#layout-list {grid-area: list;   overflow-y: auto; padding: 0.2em;}
#layout-data {grid-area: data;   overflow-y: auto;}

@media all and (orientation:landscape){
  .App{
      grid-template-rows:    3em 2em 1fr;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: 
      "header header"
      "aside aside"
      "list data";
  }
}
@media all and (orientation:portrait){
  .App{
      grid-template-rows:    3em 2em 1fr 2fr;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "header"
      "aside"
      "list"
      "data";
  }
}

