.row {
    color: #fff;
    padding:0.5em;
    text-align: left;
    margin-bottom: 0.3em;
    border-radius: 10px;
}  
.row.selected {
    background-color: #055;
}

.row .main{
    display: grid;
    grid-template-columns: 1fr 2fr;
  
}

.row .mac{
    font-family: monospace;
    font-weight: bold;
    font-size: 90%;
    color:#ff8
}