.row {
    color: #fff;
    padding:0.5em;
    text-align: left;
    margin-bottom: 0.3em;
    border-radius: 10px;
}  
.row.selected {
    background-color: #055;
}

.row-header{
    display: grid;
    grid-template-columns: 3fr 5em 4em;
    border-bottom: 1px solid #888;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
}
.row .main{
    display: grid;
    grid-template-columns: 1fr 5em 4em;
}
.row .name{
    font-size: 110%;
    font-weight: normal;
    color:aqua;
}
.row .stat{
    font-weight: normal;
    text-align: right;
}

.row .details  > div {
    font-style: italic;
    font-family: monospace;
}
.row .details  > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 2em;
}
.row .details  b {
    margin-left: 0.4em;
    font-style: normal;
}

