.App {
  text-align: center;
}

.App-logo {
  height: 2em;
  pointer-events: none;
}

header {
  background-color: #282c34;
  color: white;
  display: grid;
  grid-template-columns: 3em 1fr 3em;
  align-items: center;
  padding: 0.2em;
}

header .title{
  text-align: left;
}
